
@inject UserService Userservice
@inject AuthService AuthService
@inject NavigationManager nav;
@using Model;
<link rel="stylesheet" href="css/orders.css">

<body>
    <div class="container">
        <h1>Orders Information</h1>
        <ul class="orders-list">
            @{
                foreach (Order o in Userservice.CurrentUser.orders)
                {
                    <li class="order">
                        <div class="order-info">
                            <span class="order-id">@o.OrderID</span>
                            <span class="order-date">Date: @o.Date.ToString();</span>
                        </div>
                        <span class="order-amount">@GetSum(o.Products)</span>
                        <ul class="order-items">
                            @foreach(Product p in o.Products)
                            {
                                <li @onclick="() =>GoToProuctPage(p.ProductID)">@(p.ProductName.Length > 6 ? p.ProductName.Substring(0, 6) + "..." : p.ProductName)</li>
                            }
                            
                        </ul>
                    </li>
                }
            }
        </ul>
    </div>
</body>
@* @{
    foreach(Order o in Userservice.CurrentUser.orders)
    {
        <p>@o.OrderID</p>
        <p>@o.Date.ToString()</p>
        foreach (Product p in o.Products)
        {
            <p>@p.ProductName</p>
        }
    }
} *@
@page "/testing"
@code {
    private int GetSum(List<Product> l)
    {
        int sum = 0;
        foreach( Product p in l)
        {
            sum = sum + p.ProductPrice;
        }
        return sum;
    }

    private void GoToProuctPage(int id)
    {
        nav.NavigateTo($"/item/{id.ToString()}");
    }
}
