@inject NavigationManager NavManager;
@inject UserService Userservice
@inject AuthService AuthService
@inject Services.ProductService Products
@page "/store"
@using Model;
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/shop.css">
    <title>Your Web Page</title>
</head>
<body style="overflow-y:scroll">

    <header class="fixed-header">
        <h1>You have @Userservice.CurrentUser.coins coins <img src="css/imags/coin.png" class="coin" /> </h1>
    </header>

    <section class="content">
        <div class="box">
            <img src="css/imags/coin.png" class="coin" />
            <h2 class="coins">@Userservice.CurrentUser.coins</h2>
        </div>

        <div class="profile">
            <img src="images/profile-pic.png" class="profile-pic" />
        </div>

        <div class="store-container">
            @{
                if(b)
                    {
                    foreach (Product i in Products.ProductList)
                    {
                        <div class="product">


                            <span @onclick="() =>GoToProuctPage(i.ProductID)"> <img src="@(path+Convert.ToBase64String(i.ProductPicture))" class="product-picture" alt="Product 1 "></span>
                            <div class="product-name" @onclick="() =>GoToProuctPage(i.ProductID)">
                                <h2>@i.ProductName <br /><p> <img class="coin" src="css/imags/coin.png"   style="top:80%;right:80%"/>@i.ProductPrice</p></h2>
                            </div>
                        </div>
                    }
                }
            }
          <div style="position:relative;height:100px"></div>

            <!-- Add more product entries as needed -->

@*             <div class="navbar">
                <img src="css/imags/bin.png" />
                <img src="css/imags/bag.png" />
                <img src="css/imags/user.png" />
            </div> *@
        </div>
    </section>

    <footer style="background-color:white">

        <div class="navbar">
            <img src="css/imags/bin.png" />
            <img src="css/imags/bag.png" />
            <img src="css/imags/user.png" />
        </div>
    </footer>

</body>

@code {
    List<Product> l { get; set; }
    ApiServices es = new ApiServices();
    bool b = false;
    string path = "data:image/png;base64,";
    protected override async Task OnInitializedAsync()
    {

        
        await GetC(Userservice.CurrentUser.UserID, true);
    }


    private void GoToProuctPage(int id)
    {
            NavManager.NavigateTo($"/item/{id.ToString()}");
    }
    public async Task GetC(int id, bool isphone)
    {
        
        b = true;
    }
}
